/* Global CSS */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
h1 {
  margin-top: 0;
}

form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 40px;
  background: #817CA5;
  border-radius: 12px;
  color: #fff;
}
form .input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
form .input-label input {
  height: 25px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 10px;
}
form .next-step-btn {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 2em;
  cursor: pointer;
  margin-top: 20px;
  color: #817CA5;
}
form .next-step-btn:hover {
  background: #a5a3b6;
  color: #fff;
}
form .review-form p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 700;
}
form .review-form p span {
  font-weight: 100;
}
form .error-message {
  color: red;
}
.step-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 4px;
  background-color: #87839F;
  outline: none;
  cursor: not-allowed;
}
.checked {
  background-color: #5340c5;
}
.unchecked {
  background-color: #87839F;
}
.steps {
  position: absolute;
  left: 1em;
  top: 10em;
}
.steps h4 {
  display: flex;
  align-items: center;
}